.main__catalog,
.card {
  display: flex;
  flex-flow: column nowrap;
}

.products__header,
.products__list,
.product__panel--content {
  padding: var(--margin-sm);
}

.products__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__header--title {
  font-size: 1.5rem;
}

.products__header--option {
  color: var(--c-red--ds);
  font-weight: 700;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(156px, 100%), 1fr));
  gap: 1rem;

  list-style: none;
}

.card {
  justify-content: space-between;
  gap: 0.5rem;
  background-color: var(--c-white--ls);
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.card__figure {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card__figure--caption {
  order: 2;
}

.card__figure--image {
  order: 1;
  max-width: 10rem;
  max-height: 10rem;
  object-fit: contain;
  align-self: center;
}

.card__content--price,
.product__panel--price {
  font-weight: 700;
}

.product__button {
  font-weight: 700;
  background-color: var(--c-red);
  cursor: pointer;
  color: var(--c-white);
  padding: 0.25rem 0.5rem;
}

.product__panel {
  display: grid;
  grid-template-areas: "option" "banner" "main" "related";
  grid-template-rows: auto;
}

.product__panel--close {
  grid-area: option;
  max-width: 10rem;
  font-weight: bold;
  text-align: left;
  margin: var(--margin-sm);
}

.product__panel--content {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product__panel--banner {
  grid-area: banner;
}

.product__panel .main__catalog {
  grid-area: related;
}

.product__panel--title {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .products__header,
  .products__list {
    padding: 1rem var(--margin-md);
  }

  .products__list {
    grid-template-columns: repeat(auto-fit, minmax(min(164px, 100%), 1fr));
  }

  .product__panel {
    grid-template-areas: "option option" "banner main" "related related";
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: repeat(3, auto);
  }

  .product__panel--close {
    margin: 1rem 0.5rem 1rem 2rem;
  }

  .product__panel--banner {
    padding: 1rem 0.5rem 1rem 2rem;
  }

  .product__panel--content {
    padding: 1rem 2rem 1rem 0.5rem;
  }
}

@media screen and (min-width: 1140px) {
  .products__header,
  .products__list {
    padding: 1rem var(--margin-lg);
  }

  .products__list {
    grid-template-columns: repeat(auto-fit, minmax(min(176px, 100%), 1fr));
  }

  .product__panel--close {
    margin: 1rem 0.5rem 1rem 4rem;
  }

  .product__panel--banner {
    padding: 1rem 1rem 1rem 4rem;
  }

  .product__panel--content {
    padding: 1rem 4rem 1rem 1rem;
    place-self: center;
  }

  .product__panel--title {
    font-size: 2rem;
  }

  .product__panel--price {
    font-size: 1.125rem;
  }
}
