.main__catalog,
.products__card,
.card__figure,
.products__header,
.card__option,
.product__panel--content {
  display: flex;
}

.main__catalog,
.products__card,
.card__figure,
.card__option,
.product__panel--content {
  flex-flow: column nowrap;
}

.main__catalog {
  padding: 16px;
}

.main__catalog,
.products__list,
.products__card {
  gap: 16px;
}

.product__panel--content {
  padding: 16px 24px;
}

.products__header,
.card__button {
  padding: 8px;
}

.products__header {
  align-items: center;
}

.products__header,
.products__card,
.card__option {
  justify-content: space-between;
}

.products__header,
.products__card {
  background-image: linear-gradient(
    to bottom,
    var(--c-carbon),
    var(--c-carbon--l)
  );
  border: 1px solid var(--c-carbon--l);
}

.products__header,
.products__header--option,
.products__card,
.card__figure--image,
.card__button {
  border-radius: 8px;
}

.products__header--title,
.product__panel--title {
  font-size: 1.5rem;
}

.products__header--option {
  background-image: linear-gradient(
    to bottom,
    var(--c-carbon--ls),
    var(--c-carbon)
  );
}

.products__header--option,
.card__button {
  box-shadow: 0 0 1px 1px var(--c-black);
}

.products__header--option,
.product__panel--tag {
  padding: 4px 8px;
}

.card__button,
.products__header--option,
.products__header--title,
.product__panel--close {
  color: var(--c-white);
}

.products__header--option,
.card__button,
.product__panel--close,
.product__panel--tag {
  font-weight: 700;
}

.product__panel--title,
.product__panel--tag {
  color: var(--c-red--ls);
}

.products__list,
.product__panel {
  display: grid;
}

.products__list {
  grid-template-columns: repeat(auto-fit, minmax(min(156px, 100%), 9.75rem));
  list-style: none;
}

.products__card {
  padding: 10px;
  font-size: 0.9rem;
}

.card__figure--caption {
  order: 2;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__figure--image {
  order: 1;
  max-height: 148px;
  align-self: center;
}

.card__content--price,
.product__panel--price {
  font-size: 1.2rem;
  font-weight: 800;
}

.card__option,
.card__figure,
.product__panel--content {
  gap: 8px;
}

.card__figure--image,
.card__button {
  width: 100%;
}

.card__button {
  background-image: linear-gradient(
    to bottom,
    var(--c-red--d),
    var(--c-red--ds)
  );
  height: 100%;
  line-height: 0;
}

.product__panel {
  grid-template-areas: "option" "banner" "main" "related";
  grid-template-rows: auto;
}

.product__panel--close,
.product__panel--tag {
  max-width: max-content;
}

.product__panel--close {
  grid-area: option;
  text-align: left;
  padding: 24px;
}

.product__panel--content {
  grid-area: main;
}

.product__panel--banner {
  grid-area: banner;
}

.product__panel .main__catalog {
  grid-area: related;
}

.product__panel--tag {
  border: 1px solid var(--c-red--ls);
  border-radius: 24px;
  font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  .main__catalog {
    padding: 32px;
  }

  .products__list {
    grid-template-columns: repeat(auto-fit, minmax(min(164px, 100%), 10.25rem));
  }

  .products__card {
    font-size: 1rem;
  }

  .product__panel {
    grid-template-areas: "option option" "banner main" "related related";
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: repeat(3, auto);
  }

  .product__panel--close {
    padding: 16px 40px;
  }

  .product__panel--banner {
    padding: 16px 8px 16px 40px;
  }

  .product__panel--content {
    padding: 16px 40px 16px 8px;
  }
}

@media screen and (min-width: 1140px) {
  .main__catalog {
    padding: 48px 64px;
  }

  .products__list {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(176px, 100%), 11.8125rem)
    );
  }

  .product__panel--close {
    padding-left: 72px;
  }

  .product__panel--banner {
    padding: 16px 16px 16px 72px;
  }

  .product__panel--content {
    padding: 16px 72px 16px 16px;
    align-self: center;
  }

  .product__panel--price {
    font-size: 1.3rem;
  }

  .product__panel--title {
    font-size: 2rem;
  }
}