.editor,
.editor__form,
.editor__fieldset,
.editor__field {
  display: flex;
  flex-flow: column nowrap;
}

.editor,
.editor__form,
.editor__fieldset {
  gap: 1rem;
}

.editor {
  padding-block: var(--margin-lg);
}

.editor__title {
  text-align: left;
  padding-left: 1.5rem;
}

.editor__form {
  padding: 1.5rem;
}

.editor__form,
.editor__fieldset,
.editor__submit {
  width: 100%;
}

.editor__fieldset {
  border: none;
  max-width: calc(100vw - 3rem);
}

.editor__legend {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.editor__field {
  background-color: var(--c-carbon--ls);
  padding: 0.5rem 0.75rem 0.8125rem 0.75rem;
  border-bottom: 0.125rem solid var(--c-gray--ls);
}

.editor__field:last-child input {
  max-width: calc(100vw - 4.5rem);
}

.editor__label,
.editor__submit {
  font-weight: 600;
}

.editor__label {
  font-size: 1.1rem;
}

.editor__label,
.editor__input,
.editor__select {
  color: var(--c-white);
}

.editor__field,
.editor__submit,
.editor__select {
  border-radius: 0.25rem;
}

.editor__select {
  background-image: linear-gradient(
    to bottom,
    var(--c-carbon),
    var(--c-carbon--l)
  );
  border: 0.0625rem solid var(--c-carbon--l);
  text-align: center;
  padding: 0.25rem;
}

.editor__select option {
  color: black;
}

.editor__submit {
  background-color: var(--c-red--l);
  color: var(--c-white--ls);
  text-transform: uppercase;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .editor__title {
    padding-left: 2.5rem;
  }

  .editor__form {
    padding: 2rem 2.5rem;
  }

  .editor__fieldset {
    max-width: calc(100vw - 5rem);
  }

  .editor__legend {
    font-size: 1.25rem;
  }

  .editor__field:last-child input {
    max-width: calc(100vw - 6.5rem);
  }
}

@media screen and (min-width: 1140px) {
  .editor__title {
    font-size: 2rem;
    text-align: center;
    padding-left: 0;
  }

  .editor__form {
    padding: 2.5rem 4.5rem;
  }

  .editor__fieldset,
  .editor__submit {
    max-width: 50vw;
    align-self: center;
  }

  .editor__field:last-child input {
    max-width: calc(50vw - 1.5rem);
  }
}