.context__main--editor {
  display: grid;
  grid-template-areas: "header" "mainMenu" "nav" "options";
  grid-template-rows: auto auto;
  gap: 16px;
}

.context__main--editor .main__hero {
  grid-area: header;
}

.editor__menu {
  grid-area: mainMenu;
  align-items: center;
}

.context__main--editor .main__nav {
  grid-area: nav;
}

.menu__option {
  flex: 1;
}

.editor__option--button {
  background-color: var(--c-carbon);
  color: var(--c-white--ls);
  padding: 8px 16px;
  border-radius: 4px;
  width: 100%;
  white-space: nowrap;
}

.editor__option--button:hover,
.editor__option--button:focus {
  background-color: var(--c-carbon--ls);
}

.editor__option--button:active {
  background-color: var(--c-carbon--l);
}

.editor__content {
  grid-area: options;
}

.editor,
.editor__form,
.editor__fieldset,
.editor__field,
.editor__menu,
.menu__options {
  display: flex;
  flex-flow: column nowrap;
}

.editor,
.editor__menu,
.menu__options,
.editor__form,
.editor__fieldset {
  gap: 1rem;
}

.editor {
  padding-block: 64px;
}

.editor__title {
  text-align: left;
  padding-left: 24px;
}

.editor__menu,
.editor__form {
  padding: 24px;
}

.menu__options {
  list-style: none;
}

.editor__form,
.editor__fieldset,
.editor__submit {
  width: 100%;
}

.editor__fieldset {
  border: none;
  max-width: calc(100vw - 48px);
}

.editor__legend {
  font-size: 1.15rem;
  margin-bottom: 16px;
}

.editor__field {
  background-color: var(--c-carbon--ls);
  border-bottom: 2px solid var(--c-gray--ls);
}

.editor__field:nth-child(4) {
  flex-direction: row;
  gap: 16px;
  justify-content: stretch;
}

.editor__field:nth-child(4):focus-within {
  background-color: var(--c-carbon--ls);
}

.editor__field:last-child input {
  max-width: calc(100vw - 72px);
}

.editor__field:focus-within {
  background-color: var(--c-gray--ls);
}

.editor__label,
.editor__submit {
  font-weight: 600;
}

.editor__label {
  font-size: 1.1rem;
  max-width: fit-content;
  padding: 4px 8px;
}

.editor__label:hover,
.editor__field:focus-within .editor__label {
  background-color: var(--c-black--ls);
}

.editor__label:active {
  color: var(--c-red--l);
}

.editor__label,
.editor__input,
.editor__select {
  color: var(--c-white);
}

.editor__input {
  padding: 4px 8px;
}

.editor__input:focus {
  color: var(--c-black);
}

.editor__field,
.editor__submit,
.editor__select {
  border-radius: 4px;
}

.editor__select {
  background-image: linear-gradient(
    to bottom,
    var(--c-carbon),
    var(--c-carbon--l)
  );
  border: 1px solid var(--c-carbon--l);
  text-align: center;
  padding: 4px;
  flex: 5;
}

.editor__select:hover,
.editor__select:focus {
  background-image: none;
  background-color: var(--c-carbon);
}

.editor__select option {
  color: black;
}

.editor__submit {
  background-color: var(--c-red--d);
  color: var(--c-white--ls);
  text-transform: uppercase;
  padding: 16px;
}

.editor__submit:hover,
.editor__submit:focus {
  transform: scale(1.05);
  background-color: var(--c-red);
}

.editor__submit:active {
  transform: scale(1);
  background-color: var(--c-red--l);
}

.editor__warning {
  margin: auto;
  padding: 16px;
  border-radius: 8px;
  border: 2px solid var(--c-carbon);
  max-width: 90vw;
  background-image: linear-gradient(
    to bottom,
    var(--c-black--ls),
    var(--c-carbon)
  );
  color: inherit;
  text-align: center;
}

.editor__warning::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.editor__warning--options {
  gap: 16px;
  display: grid;
  grid-template-areas:
    "title"
    "info"
    "option1"
    "option2";
}

.editor__warning--message {
  grid-area: title;
}

.editor__warning--info {
  font-weight: 700;
  grid-area: info;
}

.editor__warning--action {
  background-image: linear-gradient(
    to bottom,
    var(--c-red--d),
    var(--c-red--ds)
  );
  background-color: var(--c-red--ds);
  border-radius: 8px;
  box-shadow: 0 0 2px black;
  padding: 4px 8px;
  color: inherit;
}

.editor__warning--action:first-child {
  grid-area: option1;
}

.editor__warning--action:last-child {
  grid-area: option2;
}

.editor__warning--action:hover,
.editor__warning--action:focus {
  background-image: none;
  box-shadow: 0 0 3px 3px var(--c-black--ls);
}

.editor__warning--action:active {
  box-shadow: none;
  background-color: var(--c-red--d);
}

@media screen and (min-width: 768px) {
  .editor__title {
    padding-left: 40px;
  }

  .editor__menu {
    padding: 40px;
  }

  .menu__options {
    flex-direction: row;
    gap: 24px;
  }

  .editor__form {
    padding: 32px 40px;
  }

  .editor__fieldset {
    max-width: calc(100vw - 80px);
  }

  .editor__legend {
    font-size: 1.25rem;
  }

  .editor__field:last-child input {
    max-width: calc(100vw - 104px);
  }

  .editor__warning {
    font-size: 1.1rem;
  }

  .editor__warning--info {
    font-size: 1.2rem;
  }

  .editor__warning--options {
    grid-template-areas: "title title" "info info" "option1 option2";
  }

  .editor__warning--action {
    padding: 8px 16px;
  }
}

@media screen and (min-width: 1140px) {
  .editor__title {
    font-size: 2rem;
    text-align: center;
    padding-left: 0;
  }

  .editor__menu {
    padding: 72px;
  }

  .editor__form {
    padding: 40px 72px;
  }

  .editor__fieldset,
  .editor__submit {
    max-width: 50vw;
    align-self: center;
  }

  .editor__warning {
    font-size: 1.2rem;
  }

  .editor__warning--info {
    font-size: 1.3rem;
  }

  .editor__field:last-child input {
    max-width: calc(50vw - 24px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .editor__label,
  .editor__field,
  .editor__submit {
    transition: all 0.1s linear;
  }

  .editor__option--button {
    transition: all 0.1s ease-in-out;
  }

  .editor__warning--action {
    transition: all 0.1s ease;
  }
}
