.context__main--index .main__hero {
  background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.8)
      )
      100%,
    url("../../assets/images/hero_banner_medium.svg") no-repeat center / cover;
}

.context__main--index .main__hero,
.context__main--products .main__hero {
  padding: var(--margin-sm);
  padding-top: 4rem;
}

.context__main--products .main__hero {
  background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.8)
      )
      100%,
    url("../../assets/images/banner-products.svg") no-repeat center / cover;
}

.main__hero {
  display: flex;
  flex-flow: column nowrap;
  color: var(--c-white);
  gap: 0.5rem;
}

.hero__title {
  font-size: 1.5rem;
}

.hero__desc {
  font-weight: 600;
}

.hero__btn {
  background-color: var(--c-red);
  max-width: 10rem;
  padding: 0.75rem 1rem;
  font-weight: 600;
  color: inherit;
}

@media screen and (min-width: 768px) {
  .context__main--index .main__hero,
  .context__main--products .main__hero {
    padding: var(--margin-md);
    padding-top: 4rem;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .hero__desc {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1140px) {
  .context__main--index .main__hero,
  .context__main--products .main__hero {
    padding: var(--margin-lg);
    padding-top: 6rem;
  }

  .hero__title {
    font-size: 3rem;
  }
}
