.context__main--index .main__hero {
  background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      )
      100%,
    url("../../assets/images/geeky-shots-hQ4BQ3wdHsQ-unsplash.jpg") no-repeat
      center / cover;
}

[class*="context__main"] .main__hero,
.main__nav {
  padding: 1.5rem;
}

[class*="context__main"] .main__hero {
  padding-top: 4rem;
}

.context__main--products .main__hero {
  background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      )
      100%,
    url("../../assets/images/erik-mclean-8SeJUmfahu0-unsplash.jpg") no-repeat
      center / cover;
}

.context__main--search .main__hero {
  background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      )
      100%,
    url("../../assets/images/camila-fernandez-fYm4-WeD_fg-unsplash.jpg")
      no-repeat center / cover;
}

.main__hero {
  display: flex;
  flex-flow: column nowrap;
  color: var(--c-white);
  gap: 0.5rem;
}

.hero__title {
  font-size: 2rem;
}

.hero__desc,
.hero__btn {
  font-weight: 600;
}

.hero__btn,
.main__nav--scrollup {
  color: inherit;
}

.hero__btn {
  background-image: linear-gradient(to bottom, var(--c-red), var(--c-black--ls));
  max-width: 10rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.main__nav--title {
  margin-bottom: 3rem;
}

.main__nav--links,
.nav__link--figure {
  display: grid;
}

.main__nav--links {
  grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
  gap: 1rem;
  list-style: none;
}

.main__nav--item {
  border-radius: .5rem;
  overflow: hidden;
  flex: 1;
}

.nav__link--figure {
  isolation: isolate;
  position: relative;
  min-height: 5rem;
}

.nav__link--figure img,
.nav__link--figure figcaption, 
.nav__link--figure::after {
  position: absolute;
}

.nav__link--figure img,
.nav__link--figure::after {
  height: 100%;
  width: 100%;
}

.nav__link--figure img {
  object-fit: cover;
  z-index: 1;
}

.nav__link--figure,
.main__nav--scrollup {
  text-align: center;
}

.nav__link--figure figcaption {
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--c-white--ds);
  width: 100%;
  word-wrap: break-word;
  place-self: center;
  z-index: 3;
}

.nav__link--figure::after,
.main__nav--scrollup {
  display: block;
}

.nav__link--figure::after {
  content: "";
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.9));
  z-index: 2;
  pointer-events: none;
}

.main__nav--scrollup {
  padding: 10px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--c-red);
  position: fixed;
  bottom: .5rem;
  right: .5rem;
}

.main__nav--scrollup .fa-solid {
  transform: scale(1.5);
}

.main__content {
  padding-block: 2rem;
}

@media screen and (min-width: 768px) {
  [class*="context__main"] .main__hero {
    padding: 2.5rem;
    padding-top: 4rem;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .hero__desc {
    font-size: 1.25rem;
  }

  .main__nav {
    padding: 2rem 2.5rem;
  }

  .nav__link--figure {
    min-height: 15rem;
  }

  .main__content {
    padding-block: 3rem;
  }
}

@media screen and (min-width: 1140px) {
  [class*="context__main"] .main__hero {
    padding: 6rem 4.5rem 4.5rem;
  }

  .hero__title {
    font-size: 3rem;
  }

  .hero__title,
  .hero__desc {
    max-width: calc((100vw - 9rem) / 2);
  }

  .main__nav {
    padding: 3rem 4.5rem;
  }


  .nav__link--figure {
    min-height: 20rem;
  }

}