@import url("../reset.css");
@import url("./main-header.css");
@import url("./main-footer.css");
@import url("./main-contact.css");
@import url("./main-context.css");
@import url("../store/products.css");
@import url("../login/login.css");
@import url("../editor/editor.css");
@import url("../editor/editor-status.css");
@import url("../search/search.css");

:root {
  --c-black--ds: hsl(260, 14%, 1%);
  --c-black--d: hsl(260, 14%, 3%);
  --c-black: hsl(260, 14%, 5%);
  --c-black--l: hsl(260, 14%, 7%);
  --c-black--ls: hsl(260, 14%, 9%);
  --c-carbon: hsl(260, 9%, 15%);
  --c-carbon--l: hsl(260, 9%, 20%);
  --c-carbon--ls: hsl(260, 9%, 25%);
  --c-gray--ds: hsl(260, 5%, 30%);
  --c-gray--d: hsl(260, 5%, 40%);
  --c-gray: hsl(259, 5%, 50%);
  --c-gray--l: hsl(260, 5%, 60%);
  --c-gray--ls: hsl(260, 5%, 70%);
  --c-white--ds: hsl(340, 10%, 80%);
  --c-white--d: hsl(340, 10%, 85%);
  --c-white: hsl(340, 10%, 90%);
  --c-white--l: hsl(340, 10%, 95%);
  --c-white--ls: hsl(340, 10%, 100%);
  --c-red--ds: hsl(356, 80%, 35%);
  --c-red--d: hsl(356, 80%, 40%);
  --c-red: hsl(356, 80%, 50%);
  --c-red--l: hsl(356, 80%, 55%);
  --c-red--ls: hsl(356, 80%, 60%);
}

html {
  scroll-behavior: smooth;
}

body * {
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
}

body {
  background-color: var(--c-black--ls);
  color: var(--c-white);
}

input,
textarea,
button,
select {
  appearance: none;
  border: none;
  background-color: transparent;
}

button,
label,
select {
  cursor: pointer;
}

::selection {
  background-color: var(--c-red--ls);
  color: var(--c-white);
}

input,
img {
  max-width: 100%;
}

textarea {
  resize: none;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.context__header,
.context__info {
  padding: 16px 24px;
}

@media screen and (min-width: 768px) {
  .context__header,
  .context__info {
    padding: 32px 40px;
  }
}

@media screen and (min-width: 1140px) {
  .context__header,
  .context__info {
    padding: 40px 72px;
  }
}

.hidden {
  visibility: hidden;
  overflow: hidden;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

.fa-solid {
  pointer-events: none;
}

.hl-text {
  color: var(--c-red--ls);
}

input:focus,
a:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: var(--c-gray--ds);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--c-red--ls);
  border-radius: 8px;
}

@media screen and (min-width: 512px) {
  *::-webkit-scrollbar {
    width: 8px;
  }
}

@media (prefers-reduced-motion: reduced) {
  * {
    transition: all 0.1s ease;
  }
}

@media (prefers-reduced-motion: no-preference) {
  dialog[open] {
    transition: all 0.1s ease-in;
    transform: scale(0);
    animation: grow-up 0.2s forwards;
  }

  .hidden {
    animation: fade-away 0.2s forwards;
  }
}

@keyframes grow-up {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes show-up {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-away {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
