.context__footer {
  background-color: var(--c-black--l);
  color: var(--c-white);
  text-align: center;
  padding: var(--margin-md);
}

.footer__link {
  color: var(--c-red--ls);
  font-weight: 600;
}

@media screen and (min-width: 1140px) {
  .context__footer {
    padding-inline: var(--margin-lg);
    padding-block: var(--margin-md);
  }
}
