.context__header,
.header__search {
  gap: 0.5rem;
  background-color: var(--c-black);
  display: flex;
}

.context__header {
  justify-content: space-between;
  align-items: center;
  position: relative;
  isolation: isolate;
}

.header__logo > img,
.header__search:focus-within .header__search--input {
  width: 100%;
}

.header__search {
  align-items: stretch;
  justify-content: space-between;
  height: fit-content;
  font-size: smaller;
  max-width: calc(100vw - 3rem);
}

.header__search,
.header__search--input {
  overflow: hidden;
}

.header__search,
.header__login {
  border-radius: .5rem;
}

.header__search:focus-within {
  background-color: var(--c-white);
}

.header__search--input {
  width: 0;
}

.header__search--input,
.header__search--button {
  padding: .25rem .5rem;
}

.header__search--button {
  font-size: 1.25rem;
}

.header__search--button,
.header__login {
  color: var(--c-red--ls);
}

.header__login {
  font-weight: 600;
  border: 0.125rem solid var(--c-red--ls);
  padding: 0.75rem 1.25rem;
  text-align: center;
}

@media screen and (max-width: 511px) {
  .header__search:focus-within {
    position: absolute;
    z-index: 1;
    width: 100%;
  }

  .header__search:focus-within + .header__login {
    z-index: -1;
    opacity: 0;
  }
}

@media screen and (min-width: 512px) {
  .header__search {
    background-color: var(--c-white);
    max-width: 10rem;
  }
  
  .header__search,
  .header__search--input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    min-width: 8rem;
  }

  .header__search {
    max-width: 15rem;
  }

  .header__login {
    padding: 1rem 1.5rem;
  }
}

@media screen and (min-width: 1140px) {
  .header__search {
    max-width: 20rem;
  }
}
