.nav__list,
.info__contact,
.contact--fieldset,
.contact__section {
  display: flex;
  flex-flow: column nowrap;
}

.context__info {
  background-color: var(--c-carbon--l);
  display: grid;
  grid-template-areas: "logo" "links" "form";
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

.context__info,
.contact--fieldset,
.nav__list {
  gap: 16px;
}

.info__link {
  place-self: center;
  grid-area: logo;
}

.info__nav {
  align-items: center;
  grid-area: links;
}

.nav__list {
  text-align: center;
  list-style: none;
  font-weight: 500;
}

.context__info .nav__item {
  position: relative;
}

.context__info .nav__link {
  text-decoration: none;
}

.context__info .nav__link:active {
  color: var(--c-red--ls);
}

.context__info .nav__item::before {
  display: block;
  content: "";
  position: absolute;
  width: 10px;
  height: 15px;
  top: 0.5ch;
  left: -2ch;
  background-color: transparent;
}

.context__info .nav__item:hover::before,
.context__info .nav__item:focus-within::before {
  background-color: var(--c-white);
}

.context__info .nav__item:active::before {
  background-color: var(--c-red--ls);
}

.info__logo,
.contact__section {
  width: 100%;
}

.info__logo {
  min-width: 160px;
  padding: 4px;
  border-radius: 8px;
}

.info__logo:hover {
  box-shadow: 0 0 1px 2px var(--c-black--l);
}

.info__contact {
  grid-area: form;
}

.contact--fieldset {
  border: none;
}

.contact__legend {
  font-weight: 700;
}

.contact__section {
  background-color: var(--c-white--ds);
  color: var(--c-black);
}

.section__input,
.contact__section--label,
.section__textarea {
  padding: 8px 12px;
}

.contact__section--label {
  width: fit-content;
}

.contact__section--label:hover,
.contact__section--label:focus,
.contact__section:focus-within .contact__section--label {
  background-color: var(--c-black);
  color: var(--c-white--ds);
}

.contact__section--label:active {
  color: var(--c-red--ls);
}

.contact__section,
.contact__submit {
  border-radius: 4px;
}

.contact__submit {
  background-color: var(--c-red--d);
  padding: 12px 16px;
  max-width: 192px;
  font-weight: 600;
  color: var(--c-white--ls);
}

.contact__submit:hover,
.contact__submit:focus {
  background-color: var(--c-red);
  transform: scale(1.05);
}

.contact__submit:active {
  background-color: var(--c-red--l);
  transform: scale(1);
}

@media screen and (min-width: 768px) {
  .context__info {
    grid-template-areas: "logo form" "links form";
    grid-template-columns: 1fr 2fr;
  }

  .info__link {
    place-self: flex-start;
  }

  .nav__list {
    text-align: left;
  }
}

@media screen and (min-width: 1140px) {
  .context__info {
    grid-template-areas: "logo links form";
    grid-template-columns: 1fr 2fr 3fr;
    gap: 64px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .info__logo {
    transition: all 0.1s linear;
  }

  .context__info .nav__link,
  .nav__item::before {
    transition: all 0.1s ease;
  }

  .contact__section--label,
  .contact__submit {
    transition: all 0.1s ease-out;
  }
}
