.login__fieldset,
.login {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
}

.login {
  padding: var(--margin-sm);
  padding-block: 4.75rem;
}

.login__fieldset {
  border: none;
  max-width: 17.1875rem;
  width: 100%;
}

.login__field {
  display: grid;
  grid-template-areas: "label input" "warn warn";
  grid-template-rows: auto;
  width: 100%;
}

.login__label,
.login__input {
  background-color: var(--c-white--ls);
  color: var(--c-gray);
  padding: 0.5rem 0.75rem 0.8125rem 0.75rem;
  border-bottom: 0.0625rem solid var(--c-gray--ls);
}

.login__label {
  grid-area: label;
}

.login__input {
  width: 100%;
  grid-area: input;
}

.login__warn {
  grid-area: warn;
  font-weight: 600;
  margin-top: .25rem;
}

.login__title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 1rem;
  width: 100%;
}

.login__button {
  padding: 1rem 1.5rem;
  background-color: var(--c-red--d);
  font-weight: 700;
  color: var(--c-white--ls);
  max-width: 6.8125rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .login {
    padding: var(--margin-md);
  }
}

@media screen and (min-width: 1140px) {
  .login {
    padding: var(--margin-lg);
  }

  .login__fieldset {
    max-width: 26.4375rem;
    width: 100%;
  }

  .login__button {
    max-width: 26.4375rem;
    width: 100%;
  }
}
