.login {
  padding: 16px;
  padding-block: 4.75rem;
  background: linear-gradient(
        to right,
        hsl(260, 9%, 15%),
        hsla(260, 9%, 15%, 0.7),
        hsla(260, 9%, 15%, 0.5)
      )
      100%,
    url("../../assets/images/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg")
      no-repeat center / cover;
}

.login,
.login__fieldset {
  flex-flow: column nowrap;
  gap: 1rem;
}

.login,
.login__fieldset,
.login__label {
  display: flex;
  align-items: center;
}

.login__fieldset,
.login__title,
.login__field,
.login__input,
.login__button {
  width: 100%;
}

.login__fieldset {
  border: none;
  max-width: 20rem;
}

.login__title {
  text-align: center;
  margin-bottom: 1rem;
}

.login__field {
  display: grid;
  grid-template-areas: "label input" "warn warn";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3fr 2fr;
  overflow: hidden;
  color: var(--c-white);
}

.login__label,
.login__input {
  padding: 0.75rem 1rem;
  vertical-align: middle;
}

.login__label {
  grid-area: label;
  background-color: var(--c-carbon--ls);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  justify-content: space-between;
}

.login__label,
.login__warn {
  font-weight: 600;
}

.login__input {
  grid-area: input;
  background-color: var(--c-gray);
  color: var(--c-black--ds);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.login__warn {
  grid-area: warn;
  margin-top: 4px;
  min-height: 1ch;
  color: var(--c-red--l);
}

.login__title,
.login__button {
  font-weight: 700;
}

.login__button {
  padding: 16px 24px;
  background-color: var(--c-red--d);
  color: var(--c-white--ls);
  max-width: 125px;
  border-radius: 4px;
}

.login__button:active {
  background-color: var(--c-red);
}

@media screen and (min-width: 768px) {
  .login {
    padding: 32px;
  }
}

@media screen and (min-width: 1140px) {
  .login {
    padding: 64px;
  }

  .login__fieldset,
  .login__button {
    max-width: 420px;
  }
}
