.search__count,
.search__placeholder {
  padding: var(--margin-sm);
}

.search__placeholder,
.search__placeholder .placeholder--img {
  display: grid;
  gap: 1rem;
}

.search__placeholder {
  place-items: center;
  text-align: center;
  font-weight: 600;
}

.search__placeholder .placeholder--img {
  max-width: 25rem;
}

@media screen and (min-width: 768px) {
  .search__count,
  .search__placeholder {
    padding: var(--margin-md);
  }
}

@media screen and (min-width: 1140px) {
  .search__count,
  .search__placeholder {
    padding-inline: var(--margin-lg);
    padding-block: var(--margin-md);
  }
}