.search__count,
.search__placeholder {
  padding-inline: 1.5rem;
}

.search__placeholder,
.search__placeholder .placeholder--img {
  display: grid;
  gap: 1rem;
}

.search__placeholder {
  place-items: center;
  text-align: center;
  font-weight: 600;
}

.search__placeholder .placeholder--img {
  max-width: 25rem;
}

.search__results {
  padding-block: 2rem;
}

@media screen and (min-width: 768px) {
  .search__count,
  .search__placeholder {
    padding-inline: 2.5rem;
  }

  .search__results {
    padding-block: 3rem;
  }
}

@media screen and (min-width: 1140px) {
  .search__count,
  .search__placeholder {
    padding-inline: 4.5rem;
  }
}